<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="root">
            <div id="typing-text-container"
                class="noselect">
                {{ textToType }}
            </div>
            <div id="user-input-container">
                <textarea id="text-input" placeholder="Start typing above news here..."
                    v-model="userInput" v-on:keyup="onKeyUp($event)"></textarea>
            </div>
            <div id="keyboard-container">
                <div v-for="row in $options.keys" class="row">

                    <keyboard-key
                      v-for="key in row"
                      :id="'key'+key.key"
                      :key_value="key.key"
                      :keyboard-class="keyClass(key)">

                    </keyboard-key>
                </div>
            </div>
            <div id="status-container">
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>
